@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fredoka", sans-serif;
}
body {
  background-color: chocolate;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: 10px;
  padding: 10px;
  background-color: beige;
  border: 3px solid red;
  border-radius: 20px;
}
.header .banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;

  padding: 20px;
}
.header .banner .img_banner img {
  height: 100px;
}
.header .banner .text h3 {
  font-size: 2rem;
  color: red;
}
/*fin header*/

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav a {
  text-decoration: none;
  font-size: 1.2rem;
  padding: 3px 5px;
  margin: 5px 0;
  border: 3px solid blue;
  border-radius: 5px;
  box-shadow: 3px 3px 5px gray;
  background-color: cyan;
}
/*fin nav*/
.info {
  display: flex;

  background-color: rosybrown;
  width: 80%;
}
